:root {
  --theme-color: #ef3574;
  --footer-color: #151b3d;
}
 .bg-theme{
  background:var( --theme-color);
 }
body {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  padding-top: 66px;
}
p{line-height: 1.8}
img {
  max-width: 100%;
}

.f-13 {
  font-size: 13px;
}
.f-16 {
  font-size: 16px;
}

.f-18 {
  font-size: 18px;
}

.f-20 {
  font-size: 20px;
}

.f-24 {
  font-size: 24px;
}

.f-30 {
  font-size: 30px;
}

.f-36 {
  font-size: 36px;
}

.font-weight-semi-bold {
  font-weight: 600 !important;
}

a, a:hover {
  text-decoration: none;
  outline: none;
}

.btn:focus, .form-control:focus {
  box-shadow: none !important;
}

ul {
  list-style: none;
}
.bg-black{background:#1c1c1c}
.cursor-p {
  cursor: pointer;
}

.container-lg {
  max-width: 1360px;
}

.header {
  z-index: 999;
  background: var(--theme-color);
  min-height: 67px;
}
.footer {
  background: var(--footer-color);
}
 
.hide{display: none;} 
.top-menu li {
  display: inline-block;
}
.bg-blue{background: #15236e}
.top-menu > li > a {
  color: #fff;
  display: inline-block;
  padding: 22px;
  
  font-size: 15px;
 /* border-bottom: 3px solid transparent*/
} 
/*.top-menu > li > a.active,
.top-menu > li > a:hover {
  border-bottom: 3px solid #fff
}*/
.page-container{
 min-height: calc(100vh - 500px)
}
.btn-theme {
  border: 2px solid var(--theme-color);
  padding: 15px 50px;
  border-radius: 50px;
  color: var(--theme-color);
  transition: all ease-in-out .3s;
}
.btn-theme-fill {
  border: 2px solid var(--theme-color);
  padding: 15px 50px;
  border-radius: 50px;
   background: var(--theme-color);
  color: #fff;
   transition: all ease-in-out .3s;
}
.btn-theme:hover {
  background: var(--theme-color);
  color: #fff;
}
.btn-theme-fill:hover {
  background: #ac0840;
   border: 2px solid #ac0840;
  color: #fff;
}



.title{font-size: 36px; position: relative;}
.title:after{
  content: "";
  width: 100px;
  height: 5px;
  background: #000;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.account-menu{
  padding:30px 20px;
  border:1px solid #ccc;
  border-radius: 6px;
  color: #333;
}
.account-menu.active,
.account-menu:hover{
  background: var(--theme-color);
  color: #fff;
  border:1px solid var(--theme-color);

}
/*.account-menu p{
color: #999;
}*/

.step{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:3px solid #979797;
  background: #f0f0f0;
}
.border-solid{border:2px solid #ccc;}


.container-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 3px solid #999;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-radio:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-radio input:checked ~ .checkmark {
  background-color: #0e887a;
   border:none;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-radio input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container-radio .checkmark:after {
top: 4px;
left: 4px;
width: 17px;
height: 17px;
  border-radius: 50%;
  background: #41e2d0;
}


.count {
  position: relative;
  display: inline-block;
  margin-left: 30px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.count input {
  width: 50px;
  height: 42px;
  line-height: 1.65;
  float: left;
  display: block;
  padding: 0;
  margin: 0;
  text-align: center;
  border: 1px solid #333;
}

.count input:focus {
  outline: 0;
}

.count-nav {
  position: relative;
  height: 42px;
}

.count-button {
  position: relative;
  cursor: pointer;
  border: 1px solid #333;
  width: 30px;
  height: 42px;
 
  text-align: center;
  color: #333;
  font-size: 13px;
  line-height: 2.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.count-button.count-up {
  position: absolute;
   height: 42px;
   right: -60px;
  top: 0;
  border: 1px solid #333;
  border-left: 0
}

.count-button.count-down {
  position: absolute;
   height: 42px;
  border-right: 0

}
.product-box.active,
.product-box:hover {background: #2dffe6;  border: 1px solid #2dffe6; }
.border-2{border:1px solid #333;}
.nav-item-link li a{color: #999; font-size: 18px; padding: 5px 0; margin-right: 35px;}
.nav-item-link li a.active,
.nav-item-link li a:hover
{
  color: #ef3574;
  border-bottom: 2px solid #ef3574;
}
.progressbar {
 border-bottom: 2px solid #ccc;
 margin: 60px ;
 padding: 0
}
.progressbar li {
  list-style-type: none;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
  color: #333;
  position: relative;
  margin-top: -6px;
}
.progressbar li:before {
  content: "";
  width: 15px;
  height: 15px;  
  border: 2px solid #ccc;
  background:  #ccc;
  display: block;
  border-radius: 50%;
  background-color: white;
}
 


.progressbar li.active:before {
    
  border: 2px solid #14cf00;
  background-color: #14cf00;
}

 .progressbar li.active:after { 
  height: 2px;
  content: '';
  position: absolute;
  background-color: #14cf00;
  top: 6px;
  left: 0;
  right: 0;
 
 
} 

.progressbar li span:first-child{
  position: absolute;
  top:-30px;
  left: -15%
}
.progressbar li span:last-child{
  position: absolute;
  bottom:-30px;
  left: -10%

}
.contact-container{
  background: url('../img/map.jpg') no-repeat center center;
}

.banner-container{
  background: url('../img/banner_image.jpg') no-repeat center center;
  background-size: cover;
}

.slick-slide {
  transition: all ease-in-out .3s;
  transform: scale(0.8);
  opacity: .7;
}
 
.slick-slider .slick-track, .slick-slider .slick-list{
  padding-top: 35px;
  padding-bottom:  35px;
}

.slick-slide.slick-center {
  transform: scale(1.2, 1.1);
  opacity: 1;
  position: relative;
  z-index: 9;
}

.slick-next.slick-arrow {
  border: none;
  font-size: 0;
/*  height: 57px;
  width: 57px;
  position: absolute;
  bottom:-110px;
  left: calc(50% - 50px);
  background: url(../img/left-arrow.svg) no-repeat;
  z-index: 99;
  outline: none;*/
}

.slick-prev.slick-arrow {
  border: none;
  font-size: 0;
/*  height: 57px;
  width: 57px;
  position: absolute;
  bottom:-110px;
  left: calc(50% + 50px);
  background: url(../img/right-arrow.svg) no-repeat;
  z-index: 99;
  outline: none;*/
}

.slick-list.draggable{
  padding: 0!important
}




/***********************menu************************/

.menu-link{position: relative;transition: all ease-in-out 0.4s;}
.menu-link.active,
.menu-link:hover{ color:#ef3574; }
.menu-link:after{
  content: "";
  position: absolute;
  z-index: -1;
  height:0%;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  transition: all ease-in-out 0.4s;   
}
.menu-link.active:after,
.menu-link:hover:after{
  height:100%; 
  transition: all ease-in-out 0.2s;
}

/***********************************************/

.arrow-ani {
  -moz-animation: bounce 3s infinite;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
 
/*******************wave effect************************************/

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

/*******************************************************/
.bg-animation{position: relative;}
.bg-animation:before {
  position: absolute;
  content: '';
  height: 145px;
  width: 145px;
  border: 10px solid rgba(255, 255, 255, 0.1);
  top: 110px;
  left: 10%;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
 /* z-index: -1;*/
  -webkit-animation: rotate 30s linear infinite;
  -moz-animation: rotate 30s linear infinite;
  -o-animation: rotate 30s linear infinite;
  animation: rotate 30s linear infinite;
}
.bg-animation:after  {
  position: absolute;
   content: '';
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.1);
  top: 80px;
  right: 20%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-animation: scale 15s linear infinite;
  -moz-animation: scale 15s linear infinite;
  -o-animation: scale 15s linear infinite;
  animation: scale 15s linear infinite;
 
}


@keyframes rotate {
  0% {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); }
     }
@keyframes rotate-2 {
  0% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    transform: rotate(15deg); }
  100% {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg); } 
  }
@keyframes scale {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); }
  50% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2); }
  100% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0); } 
  }


/*--------------------------------------------------------------------------------------
PRELOADER
--------------------------------------------------------------------------------------*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background:rgba(0,0,0,0.5);
  z-index: 9999999;
  text-align: center; }

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40px;
  display: flex;
  align-items: center; }

.line {
  width: 5px;
  height: 40px;
  background: #fff;
  margin: 0 3px;
  border-radius: 10px;
  animation: loading 0.8s infinite; }

.line:nth-child(2) {
  animation-delay: 0.1s; }

.line:nth-child(3) {
  animation-delay: 0.2s; }

.line:nth-child(4) {
  animation-delay: 0.3s; }

.line:nth-child(5) {
  animation-delay: 0.4s; }

.line:nth-child(6) {
  animation-delay: 0.5s; }

.line:nth-child(7) {
  animation-delay: 0.6s; }

.line:nth-child(8) {
  animation-delay: 0.7s; }

@keyframes loading {
  0% {
    height: 0; }
  50% {
    height: 40px; }
  100% {
    height: 0; } }
/*******************************************************/


.card-box{border-radius: 15px; box-shadow: 0 0 12px rgba(0, 0, 0, 0.20); overflow: hidden;}
.card-box.color-1{background: #f89ec4}
.card-box.color-2{background: #f67570}
.card-box.color-3{background: #81a3fd}
.block-container{background: var(--theme-color)}
.hr-line{width: 150px;height: 5px; display: block;}

.testimonial-user{margin-bottom:-110px;}
.about-container{
  background: #15236e url('../img/about_banner.jpg') no-repeat right -10% top 80px;
}

.team-container{
  background:  url('../img/team_bg.png') no-repeat left   center;
  background-size: contain;
  min-height: 700px;
}

.team-img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 15%;
}

.service-container{
  background: #15236e;
}


@media only screen and (max-width:992px) {
  .display-4,.display-3{font-size: 2.5rem;}
  .team-container {
    background: none;
  }
  .team-img {
    border-radius: 10px;
  }
  .about-container {
    background: #15236e url('../img/about_banner.jpg') no-repeat center;
  }
  .top-menu.active {
    display: block !important;
    margin-top: 10px;
  }
  .top-menu.active li {
    display: block;
    text-align: left
  }
  .top-menu.active li a {
    display: block;
    padding: 10px;

    border-bottom: 1px solid #e66591
  }
  .top-menu li a:after {
    content: none !important;
  }
  .menu-link.active, 
  .menu-link:hover{
    color: #fff;
  }
  .top-menu.active li a:hover {
    background: #ce215c;
    color: #fff !important;
    border-bottom: 1px solid #e66591
  }
  .progressbar {
    border: none;
  }
  .progressbar li {
    display: block;
    width: 100%;
    float: none;
    text-align: left;
    color: #333;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .progressbar li span {
    position: static !important;
    display: block;
  }
  .progressbar li:after, .progressbar li:before {
    position: absolute;
    left: -30px;
    top: 5px;
  }
  .progressbar li:after {
    content: none !important
  }

}